nav {

    input {
        max-width: 500px;
    }
}

hr.small {
    width: 40%;
}

h2 {
    font-style: italic;
}

.spider-card-link {

    text-decoration: none !important;

    .spider-card {
        width: 16rem;
        transition: transform 0.2s;
        
        img {
            height: 16rem;
            object-fit: cover;
        }

        .card-text {
            font-style: italic;
        }
    }
}

.resources {
    overflow-x: hidden;
}

.spider-card:hover {
    transform: scale(1.04);
}